.contacto__Main {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container__Contacto {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        margin: 20px;
        align-items: center;
    
        .formulario__Contacto {
            display: flex;
            flex-direction: column;
            margin: 10px;
            align-items: center;
            
            & input {
                margin: 10px;
                padding: 5px;
                border: none;
                border-bottom: 5px solid $subMainColor;
                border-radius: 10px;
                width: 80%;
            }
            
            & textarea {
                margin: 10px;
                padding: 5px;
                border: none;
                border-radius: 10px;
                border-bottom: 5px solid $subMainColor;
                width: 80%;
            }
            
            & button {
                margin: 10px;
                border: none;
                font-weight: 700;
                align-self: center;
            }
        }
    
        .container__Mapa {
            display: flex;
            flex-direction: column;
            align-items: center;
            & iframe {
                width: 100%;
                border-radius: 10px;
            }
            
            & li {
                margin: 10px;
                font-size: 1.3rem;
            }
            
            & img {
                width: 25px;
            }
        }
    }
}

// ---------------------------------------------------------
// --------------------RESPONSIVE---------------------------
// ---------------------------------------------------------


@media(min-width:768px) {
    
    .container__Contacto {
        width: 100%;
        justify-items: center;
    }

    .container__Formulario {
        width: 80%;
    }

    .container__Mapa {
        width: 80%;
        margin: 1.5rem;
        
        & iframe {
            margin: 1.5rem;
        }
    }
}

