.servicios__Main {
    margin: 1.5rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    
    .servicios__Grid {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        
        .grid__Item__Servicios {
            width: 80%;
        }
    }
    .servicios__Produccion video {
        width: 80%;
        margin: 2rem;
    }
}

.tarjeta {
    border-radius: 5px;
    box-shadow: 10px 10px 20px $mainColor;
    padding: 1rem;
    border: 3px solid $subMainColor;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
    & audio {
        margin-bottom: 0.8rem;
        width: 100%;
    }
    
    & img {
        width: 30%;
    }
}

// ---------------------------------------------------------
// --------------------RESPONSIVE---------------------------
// ---------------------------------------------------------


/*
-----------------------------------------
----SERVICIOS--------800px---------------
-----------------------------------------
*/
@media(min-width:990px) {
    .servicios__Main {
        display: flex;
        justify-content: center;
        
        .servicios__Grid {
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            align-items: center;
            grid-template-areas:
                "grid__Item__Servicios service_produccion"
                "service_cards      service_cards"
            ;
            width: 100%;
        }
        .gallery__Item {
            width: 100%;
        }
    }


    .servicio__Cards {
        grid-area: service_cards;
        display: flex;
        justify-content: space-around;
        & audio {
            margin-top: 1.5rem;
        }

    }

    .servicios__Produccion {
        grid-area: service_produccion;
        
        & video {
            width: 80%;
            margin-bottom: 1.5rem;
        }
    }

    .sala__Button {
        margin-top: 1.5rem;
    }

    .sala__Ensayo h4 {
        margin-top: 1.5rem;
    }
    .tarjeta{
        padding: 3rem;
        margin: 3rem;
    }
}

